<div class="form-container {{form.type}}">
  <input placeholder="Card number" type="text" name="number">
  <input placeholder="Full name" type="text" name="name"><br/>
  <input placeholder="MM/YY" type="text" name="expiry">
  <input placeholder="CVC" type="text" name="cvc"><br/>
  <input type="submit" value="Submit" class="button postfix">
</div>
