{{#demo-frame}}
  {{#x-form type="demonstrate-fraud-check" as |form|}}
    <div style="text-align: left">
      Card Type: {{form.type}}
    </div>
    <input placeholder="Card number" type="text" name="number" autocomplete="off">
    <button disabled={{form.isInvalid}}>Submit</button>
    <div>
      {{#if form.rules.numberPassesFraudCheck.isPending}}
        psst! what should I do? <button onclick="fraudCheck.resolve()">resolve</button><button onclick="fraudCheck.reject()">reject</button>
      {{/if}}
    </div>
  {{/x-form}}
{{/demo-frame}}
