{{#demo-frame}}
  {{#x-form type="simple-validation" as |form|}}
    <div style="text-align: left">
      Card Type: {{form.type}}
    </div>
    <input placeholder="Card number" type="text" name="number" autocomplete="off">
    <button disabled={{form.isInvalid}}>Submit</button>
  {{/x-form}}
{{/demo-frame}}
